
<div id="footer" class="container-fluid">
  <div class="container">
    <div class="row">
    	<div class="col-xs-4">
    		<h4>Impressum:</h4>
    		<address>
			  <strong>Pierre Humberdroz</strong><br>
			  Prenzlauer Allee 242<br>
			  Berlin, 10405<br>
			  <abbr title="Phone">P:</abbr> +49 (176) 22205290
			  <abbr title="mail">M:</abbr> p.humberdroz@gmail.com
			</address>
    	</div>
    	<div class="col-xs-4"></div>
    	<div class="col-xs-4"></div>
    </div>
  </div>
</div>

<script src="/js/index.js"></script>
<script type="text/javascript">
  rg4js('apiKey', 'PCEeHrezCIrWnZjioI1oTw==');
  rg4js('enablePulse', true);
  rg4js('enableCrashReporting', false);
</script>
</body>


</html>
