<script src="/js/index.js"></script>
<script type="text/javascript">
  rg4js('apiKey', 'PCEeHrezCIrWnZjioI1oTw==');
  rg4js('enablePulse', true);
  rg4js('enableCrashReporting', false);
</script>
</body>
    
  
</html>