<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url"                content="http://berlin.defunddapl.org/" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="Berlin stands with #StandingRock" />
    <meta property="og:description"        content="Take direct-action and be part of the movement, uplifting indigenous sovereignty and climate justice." />
    <meta property="og:image"              content="http://i.imgur.com/iaSU1yu.jpg" />
    <title>DefundDAPL - Berlin</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <script src="/js/jquery-2.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  	<script type="text/javascript">
  	  !function(a,b,c,d,e,f,g){a.RaygunObject=e,a[e]=a[e]||function(){
  	  (a[e].o=a[e].o||[]).push(arguments)},f=b.createElement(c),g=b.getElementsByTagName(c)[0],
  	  f.async=1,f.src=d,g.parentNode.insertBefore(f,g)}(window,document,"script","//cdn.raygun.io/raygun4js/raygun.min.js","rg4js");
  	</script>
</head>

<body>

<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">DefundDAPL - Berlin</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/list">Bank Overview</a></li>
        <% if(currentUser){ %>
       		<% if(currentUser.group === "admin"){ %>
       			<li><a href="/newBranch">New Branch</a></li>
        	<% }%>
            <li><a href="/auth/logout">Logout</a></li>
        <% } %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container-fluid banner">
  <div class="darken">

  </div>
  <div class="slogan">
    <h2>THIS MONDAY 5th!</h2>
    <h1>Berlin stands with <a href="https://www.facebook.com/groups/1248721065188084/">#StandingRock</a></h1>

     <a href="https://www.youtube.com/watch?v=-7NJeyLzXjc" class="video-link" target="_blank"><i class="fa fa-play-circle" aria-hidden="true"></i> Watch the video</a>
  </div>
</div>
